@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;600;700&display=swap');

body {
	margin: 0;
	font-family: 'Comfortaa', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #f8f9fa !important;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
